@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,600;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

html{
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
    background-color: #e2d2c3;
}

#home .head{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: cornflowerblue;
    background-image: url(./Images/bakery.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2%;
    border-bottom: 1px solid #b0a4a49c;
    height: 8rem;


}


.head h1{
    color: hsla(0, 28%, 5%, 0.91);
    font-size: 4.4rem;
    text-shadow: 4px 10px .8rem #fff;
    background-color: hsla(0, 0%, 50%, 0.6);
    height: 5.5rem;
    box-shadow: 0 0 1rem #000;
    letter-spacing: .08rem;
    border-radius: 8%;
}


.nav-bar ul{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: .1rem;
    margin-top: 0;
    background: linear-gradient(#e664648b, #b6bae9);
    height: 4rem;
    

}

ul li{
    padding: 2px;
    list-style: none;
    cursor: pointer;
    border: 1px solid #b0a4a49c;
    transition: 0.5s ease-in-out;
   border: 1px solid grey;
    border-radius: 7px;
    
   
    
}
ul li:hover{
    box-shadow: 0 0 .4rem #000;
    background-color: hsla(0, 0%, 50%, 0.214);
}

li a{
    text-decoration: none;
    color: #000;
    font-size: 2.3rem;
    margin-bottom: .3rem;
    transition: 0.5s ease-in-out;
    padding : 4px;
}

.para{
    width: 100%;
    border: 1px solid #b0a4a49c;
    height: 1.7rem;
    /* background-color: #e2d2c3; */
    

}
.para p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: red;
    font-size: 1.26rem;
    
    
}
img{
    display: block;
}

#home .home-img{
    width: 100%;
    height:auto ;
    /* background-color: #e2d2c3; */

}

.home-img img{
    width: 47%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    margin-bottom: 0;
      
}

   /* Product style */

#product{
     height: 100vh;
}


#product .heading{
    /* background-color: hsla(0, 0%, 50%, 0.6); */
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


   
}
.heading{
    background: linear-gradient(#e664648b, #b6bae9);
    font-size: 3rem;
    /* position: sticky;
    top: 0; */
    border: 1px solid grey;
    height: 6rem;
    
}

.Product-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .4rem;
    place-content: center;
    text-align: center;
    background-color: #e2d2c3;
}
.Product-box{
    width: 100%;
    border: 2px solid grey;
    height: 80%;
    
}


.Product-box img{
    width: 100%;
    height: 65%;
   border: 1px solid grey;
   transition: 0.5s ease;
    
}
.Product-box img:hover{
    box-shadow: 0 0 .8rem #000;
    transform: scale(0.98);
    
}

.Product-layer{
    height: 28%;
    background: linear-gradient(#e664648b, #b6bae9);
}

.Product-layer h6{
    font-size: 2rem;
    color: #000;
    border:1px solid grey;
    height: 30%;
    margin-top: 2rem;
    
    
   
}

.Product-layer strong{
    color: red;
    font-size: 1.5rem;
}
.Product-layer .dtls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;


}
.hide{
    font-size: 1.5rem;
    background-color: #c0b3b3c5;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}
.hide:hover{
    box-shadow: 0 0 .4rem #000;
}
p i{
    font-size: 1.5rem;
    transition: 0.5s ease-in-out;
    border: 1px solid  grey;
    margin-left: 4px ;
    border-radius: 5px;
}
p i:hover{
    box-shadow: 0 0 .4rem #000;
}



/* footer design */

footer{
    background: linear-gradient(#e664648b, #b6bae9);
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    height: 2.7rem;
}


.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .4rem;

}

.footer-icons a{
    margin: 3px 7px;
    color: #000;

}
a i{
    font-size: 1.5rem;

}


/*Media Queries*/

@media(width <= 1440px){
    html{
        font-size: 94%;
    }
    .home-img img{
        width: 34.3%;
        margin-left: 31%;
    }
    .Product-layer{
        width: 100%;
        height: 28%;

    }

    .Product-box img{
        width: 100%;
    }
    .Product-layer {
        width: 100%;
        text-align: center;
        
    }
  
}

@media(width <= 1024px){
    html{
        font-size: 85%;
    }
    .head h1{
        font-size: 4rem;
        height: 4.6rem;
    }
    .home-img img{
        width: 51.1%;
        margin-left: 24%;
    }

    .Product-layer h6{
        font-size: 1.7rem;
        padding: 5px;
        
    }
    .Product-layer{
        width: 100%;
        height: 29.5%;

    }
    .Product-box img{
        width: 100%;

    }
    .Product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .8rem;
    }
}

@media(width <= 768px){

    .home-img img{
        width: 56.5%;
        margin-left: 22%;
    
    }

    footer{
        height: 2.2rem;
    }
    .footer-icons{
        margin: 2px 5px;
    }
    a i{
        font-size: 1.9rem;
    }
    .para{
        height: 2rem;
    }
    #home .head{
        height: 11rem;
    }

    .nav-bar ul{
        height: 5rem;
    }
    .Product-layer{
        height: 28%;

    }
    .Product-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        place-content: center;
    }
    footer{
        height: 3.5rem;
    }
    a i{
        font-size: 2.3rem;
    }
}

@media(width < 427px){

    html{
        font-size: 67%;
    }
    #home .head{
        height: 13rem;
    }

  
    .home-img img{
        width: 100%;
        margin-left: 0.1%;
        margin-top: 2rem;

        
    }
    .head h1{
        font-size: 4.5rem;
        margin-top: 3rem;
        height: 4.7rem;

    }
    .Product-container{
        display: grid;
        grid-template-columns: 2fr;
        place-content: center;
        gap: 0;
    }
  
    .Product-box img{
        width: 100%;
        height: 80%;
        
    }
    .Product-layer{
        height: 19.6%;

    }

    .hide{
        font-size: 2rem;
    }
    p i{
        font-size: 2rem; 
    }
    .Product-layer h6{
        font-size: 2.5rem;
        margin: 1px 0;
        padding: 0;
    }
    .Product-layer strong{
        font-size: 2.3rem;
    }
    .Product-layer i{
        font-size: 2.3rem;
    }
    footer{
        height: 4rem;
    }
    a i{
        font-size: 2.1rem;
    }
}

@media(width <= 378px){
    html{
        font-size: 64%;
    }
    .home-img img{
        width: 100%;
        margin-left: 0;
        height: auto; 
        margin-top: 6.1rem;
    }
    .head h1{
        font-size: 4.8rem;
    }

    footer{
        height: 3.2rem;
    }
    a i{
        font-size: 2rem;
    }
    
    .nav-bar ul{
        height: 7rem;
    }
    .Product-layer{
        height: 20%;

    }

}

@media(width <= 327px){
    html{
        font-size: 68%;
    }
    .home-img img{
        width: 100%;
        margin-left: 0;  
    }
    #head h1{
        font-size: 1.3rem;
        letter-spacing: 0;
        margin: auto;
    }

    .Product-container{
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
        overflow: hidden;
    }
    .Product-layer{
        width: 100%;

    }
    .Product-layer strong{
        font-size: 2.1rem;
    }
    .Product-layer h6{
        font-size: 2.2rem;
    }
    .hide{
        font-size: 1.5rem;
    }
    p i{
        font-size: 1.5rem; 
    }

    footer{
        height: 3.5rem;
    }
    a i{
        font-size: 2rem;
    }
}








